/* #header, #hero, #gallery, #footer genişlikleri 750px olmalı */

/* #menu bir <nav> olmalı */
/* #menu içindeki linklerin arka plan rengi: #777 */
/* #menu linklerine hover yapıldığında arka plan rengi: #000 */
/* #menu linklerinin padding değeri: 20px */

/* #footer butonu metni 'Başa dön' olmalı */

#header {
    width: 750px;
    color: black;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: auto;
}
#menu a {
    text-decoration: none;
    background-color: #777;
    color: white;
    padding:20px;
    flex-direction: row;
    text-align: right;    
    width: 750px;
    
}
#menu :hover {
    background-color: #000;
}
#hero {
    width: 750px;
    height: 300px;
    background-color: #777;
    color: white;
    text-align: center;
    padding: 150px 0px;
    font-weight: bold;
    margin:auto;
    font-size: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#gallery {
    width: 750px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    gap : 10px;
    display: flex;
    box-sizing: border-box;
}
#content {
    width: 750px;
    color: black;
    padding: 20px;
    margin: auto;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    font-weight : bold;
    font-size: 20px;
    align-items: center;

    
}
#footer {
    width:750px;
    background-color: #777;
    color: white;
    margin: auto;
    text-align: center;
    padding: 20px;


}