/* #header, #hero, #gallery, #footer genişlikleri 750px olmalı */

/* #menu bir <nav> olmalı */
/* #menu içindeki linklerin arka plan rengi: #777 */
/* #menu linklerine hover yapıldığında arka plan rengi: #000 */
/* #menu linklerinin padding değeri: 20px */

/* #footer butonu metni 'Başa dön' olmalı */

#header {
    width: 750px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 10px 0px;
}
#menu{
    background-color: #777;
    color: white;
    padding:auto;
    display: flex;
    justify-content: flex-end;
    text-align: right;    
    width: 275px;
    justify-content: end;
}
#menu a {
    text-decoration: none;
    color:white;
    padding: 20px;
    display: inline-block;
    background-color: #777;
}
#menu :hover {
    background-color: #000;
}
#hero {
    width: 750px;
    height: 100px;
    background-color: #777;
    color: white;
    text-align: center;
    padding: 150px 0px;
    font-weight: bold;
    margin:auto;
    font-size: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#gallery {
    width: 750px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    display: flex;
    box-sizing: border-box;
    margin:auto;
    gap: 10px;
}
#content {
    width: 750px;
    padding: 10px;
    margin: auto;
    display:flex;
    justify-content: space-between; 
    font-weight : bold;
    font-size: 25px;
    gap:15px;   
}
#content a {
    text-decoration: none;
    color: black;
    padding: 10px 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1
}
#content a:hover {
    text-decoration: none;
    color:gray
}
#footer {
    width:750px;
    background-color: #777;
    color: white;
    margin: auto;
    text-align: center;
    padding: 20px;
}